<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7" style="text-align: center;">
            <h1 class="text">WELCOME !!</h1>
            <h4> A tool to generate short URLs</h4>
            <a routerLink="/register"><button class="button btn btn-sm"
                    style="background-color: #EE6123; color:white; margin-top:40px; padding:10px; font-size:20px;"><b>Get Started</b></button></a>
        </div>
        <div class="col-lg-5">
            <img src="/assets/img/bitly.jpg" height="100%" class="mt-4">
        </div>
    </div>
</div>